mpd/db/mpd.db
mpd/log/mpd.log
mpd/music
mpd/playlists
mpd/pid/mpd.pid
mpd/state/mpd.state
mpd/sticker/mpd.sql
ncmpcpp/error.log
google-chrome
menus
pulse
user-dirs.dirs
user-dirs.locale
scmpc/scmpc.cache
scmpc/scmpc.log
scmpc/scmpc.pid
gtk-2.0
