mpd/mpd.db
mpd/mpd.log
mpd/music
mpd/playlists
mpd/mpd.pid
mpd/mpd.state
mpd/mpd.sql
ncmpcpp/error.log
google-chrome
menus
pulse
user-dirs.dirs
user-dirs.locale
scmpc/scmpc.cache
scmpc/scmpc.log
scmpc/scmpc.pid
gtk-2.0
ranger/bookmarks
ranger/history
ranger/tagged
wallpapers/wallpaper.jpg
