<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.5/menu">

<menu id="system-menu" label="system">
    <item label="lock screen">
        <action name="Execute">
            <execute>xscreensaver-command --activate</execute>
        </action>
    </item>
    <item label="log out">
        <action name="Execute">
            <execute>loginctl kill-user --signal=SIGTERM tschaefer</execute>
        </action>
    </item>
    <separator />
    <item label="power off">
        <action name="Execute">
            <execute>systemctl poweroff</execute>
        </action>
    </item>
    <item label="reboot">
        <action name="Execute">
            <execute>systemctl reboot</execute>
        </action>
    </item>
    <separator />
    <item label="sleep">
        <action name="Execute">
            <execute>systemctl hybrid-sleep</execute>
        </action>
    </item>
    <item label="hibernate">
        <action name="Execute">
            <execute>systemctl hibernate</execute>
        </action>
    </item>
</menu>

<menu id="music-menu" label="music">
    <item label="mpc">
        <action name="Execute">
            <execute>xterm -title "mcp" -e "ncmpcpp"</execute>
        </action>
    </item>
    <item label="spotify">
        <action name="Execute">
            <execute>firefox -P app https://play.spotify.com</execute>
        </action>
    </item>
    <item label="soundcloud">
        <action name="Execute">
            <execute>firefox -P app https://soundcloud.com</execute>
        </action>
    </item>
</menu>


<menu id="root-menu" label="Openbox 3">
    <item label="xterm">
        <action name="Execute"><execute>xterm -title "uxterm"</execute></action>
    </item>
    <item label="firefox">
        <action name="Execute"><execute>firefox -P tschaefer</execute></action>
    </item>
    <separator />
    <menu id="music-menu" />
    <separator />
    <menu id="system-menu" />
</menu>

</openbox_menu>
